*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Poppins-BlackItalic';
    font-style: normal;
    font-weight: normal;
    src: url("../font/Poppins/Poppins-BlackItalic.ttf") format('ttf');
}
.poppins-black{
    font-family: 'Poppins-BlackItalic';
  
}

  